.HeaderComponent {
  background-color: #8033e3 !important;
  padding-top: 25px;
  padding-bottom: 60px;
}

.Brand {
  color: white;
  span {
    color: white;
    font-weight: bold;
    font-size: 2rem;
  }
}

.NavbarContainer {
  text-align: left;
  display: grid;
  align-content: middle;
  justify-content: left;
}

.Name {
  text-align: right;
  display: grid;
  align-content: middle;
  justify-content: right;
  span {
    color: white;
    padding-right: 20px;
  }
}